{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Student Profile</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td>{{ student.name }}</td>
                        </tr>
                        <tr>
                            <th>Enrollment Number:</th>
                            <td>{{ student.enrollment_number }}</td>
                        </tr>
                        <tr>
                            <th>Institute Email:</th>
                            <td>{{ student.institute_email }}</td>
                        </tr>
                        <tr>
                            <th>Phone Number:</th>
                            <td>{{ student.phone_number }}</td>
                        </tr>
                        <tr>
                            <th>Course:</th>
                            <td>{{ student.course }}</td>
                        </tr>
                        <tr>
                            <th>Semester:</th>
                            <td>{{ student.semester }}</td>
                        </tr>
                        <tr>
                            <th>Department:</th>
                            <td>{{ student.department }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ student.address }}</td>
                        </tr>
                    </table>
                    <div class="mt-3">
                        <a href="{{ url_for('student_edit_profile_request') }}" class="btn btn-primary">Request Profile Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 